.body {
    font-family: 'Roboto', sans-serif;
}

.hr-text {
    background-color: transparent;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: white;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text.title{
    font-family: -webkit-body;
    font-size: 30px;
    /* font-style: italic; */
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: white;
    background-color: #434382;
}

.oli-hi{
    background-image: linear-gradient(-100deg,rgba(50,115,220,.2),rgba(50,115,220,.75) 95%,rgba(50,115,220,.1));
    padding: 5px;
    margin: -5px;
    line-height: 1.5rem;
    border-radius: 9px 4px 9px 4px;
    display: inline;
}

.is-primary-color{
    background: linear-gradient(to bottom,#000000 0,#000000 100%);
}

.is-new-link{
    background: #2f318b;
}

div.is-gap{
    margin-top: 1.5rem;
}

.width-100{
    width: 100%;
}

.breadcrumb span{
    color: #344d60;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

table.cards thead {
    display: none;
}

table.cards tbody{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1050px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
}

table.cards tbody tr {
    margin: 1.1%;

    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 500px;
    min-width: 500px;
    /*z*/
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
    flex-direction: column;
    border:3px solid #878787;
    /*border-radius: 7px;*/
      /*box-shadow: 8px 4px 8px 4px rgba(0,0,0,0.2);*/
}

table.cards tbody td {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    
    border-top: none;
    border-bottom: none;
}

table.cards tbody td:first-child{
    border-top: 0.125rem solid rgba(10, 10, 10, 0.1);
}
table.cards tbody td:last-child{
    border-bottom: 0.125rem solid rgba(10, 10, 10, 0.1);
}

table.cards tbody td figure {
    margin: 0; 
    height: 10rem;
    text-align: -webkit-center;
}

table.cards tbody td figure img {
    max-height: 158.5px; 
    max-width: 270px; 
    /*oi*/
}

.block-center{
    display:block; 
    text-align:center;
}

.parallax { 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-1ellipsis { 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    overflow: hidden; 
    max-height: 1.8em; 
    line-height: 1.8em;
}

.content-2ellipsis { 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    overflow: hidden; 
    max-height: 3.6em; 
    line-height: 1.8em;
}

.content-3ellipsis { 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    overflow: hidden; 
    max-height: 5.4em; 
    line-height: 1.8em;
}

.content-5ellipsis { 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
    overflow: hidden; 
    max-height: 9em; 
    line-height: 1.8em;
}